.basic-layout {

  .basic-layout-header {
    background-color: #FFF;
    padding: 0 20px 0 16px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .collapsed-trigger-btn {
      font-size: 1.4em;
    }

    .right-container {
      display: flex;
      align-items: center;
      column-gap: 10px;

      .user-info {
        cursor: pointer;
      }
    }
  }
}
